* {
    font-size:18px;
}

QGroupBox {
    font-size:26px;
}

QGroupBox > QGroupBox {
    font-size:22px;
}

QSpinBox, QDoubleSpinBox{
    max-width: 200px;
}

QComboBox {
    max-width: 200px;
}

QPushButton {
    max-width: 200px;
}

QLineEdit{
    max-width:200px;
}
